.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: white;
}

.signupBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	background-color: #fff;
	padding: 24px;
	border-radius: 8px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: 90%;
	max-width: 400px;
	text-align: center;
}

.title {
	font-weight: bold;
	margin-bottom: 16px;
}

.links {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.socialButton {
	text-transform: none;
	display: flex;
	align-items: center;
	gap: 8px;
}
